@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Overpass+Mono&display=swap');
* {
    font-family: var(--font-family);
}

code {
    font-family: var(--font-family-mono);
}

:root {
    --background-color: #191414e0; /* spotify black */
    --background-shadow: #191414a0;
    --background-radius: 5vh;  
    --font-family: 'Montserrat', sans-serif;
    --font-family-mono: 'Overpass Mono', monospace;
    --main-margin: 5vh;
    --text-color: #ffffff;
    --time-color: #bbbbbb;
    --text-fade-width: 3vmin;

    --spotify-green: #1D8954;
    --twitch-purple: #9146FF;
}

/* Used by the UI framework for config page - no need to override for use */
:root {
    --agnostic-font-family: var(--font-family);
}